.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background: aqua;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .result {
    margin-top: 20px;
    padding: 1px;
    background: #2c3e50;
    color: white;
    border-radius: 5px;
  }
  